<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Сапёр</title>
</head>

<body>
    <div id="app">
        <div v-if="(!youWon) && (!gameStarted)">
            <label>Введите ширину поля</label>
            <input type="number" v-model="fieldWidth">
            <br>
            <label>Введите высоту поля</label>
            <input type="number" v-model="fieldHeight">
            <br>
            <label>Введите количество мин</label>
            <input type="number" v-model="bombsCount">
            <br>
            <button @click.prevent="startGame">Играть</button>
        </div>
        <playground v-if="gameStarted" :width="fieldWidth" :height="fieldHeight" :bombs-count="bombsCount" :game-over="!actions" @player-won="playerWon" @game-over="gameOver">
        </playground>
        <h1 v-if="youWon">You won!</h1>
    </div>




    <script src="https://unpkg.com/vue@next"></script>
    <script id="field" type="text/x-template">
        <div class="field">
            <template v-for="(row, y) in field">
                <template v-for="(cell,x) in row" :key="cell.id">
                    <field-cell 
                    v-if="!cell.isBomb"
                    :x="x" 
                    :y="y" 
                    @cell-open="cellClick" 
                    @bomb-click="bombClick"
                    :isBomb="cell.isBomb"
                    :bombsNear="cell.bombsNear"
                    :showBomb="false"
                    :isOpen="cell.isOpen"></field-cell>

                    <field-cell 
                    v-if="cell.isBomb"
                    :x="x" 
                    :y="y" 
                    @cell-open="cellClick" 
                    @bomb-click="bombClick"
                    :isBomb="cell.isBomb"
                    :bombsNear="-10"
                    :showBomb="showBombs"
                    :isOpen="cell.isOpen"></field-cell>
                </template>
            <br>
            </template>
        </div>
    </script>
    <script id="field-cell" type="text/x-template">
        <div class="cell" :class="{open:isOpen, bomb:showBomb, flag:isFlag}" @click.left="openCell" @click.right.prevent="setFlag">
            <p v-show="isOpen">{{bombsNear}}</p>
        </div>
    </script>
    <script>
        const fieldCell = {
            props: {
                x: Number,
                y: Number,
                isBomb: Boolean,
                bombsNear: Number,
                showBomb: Boolean,
                isOpen: Boolean,
            },
            data() {
                return {
                    isFlag: false,
                    
                }
            },
            methods: {
                openCell() {
                    if (!this.isFlag) {
                    if (!this.isBomb) {
                        this.$emit("cell-open", {
                            'x': this.x,
                            'y': this.y,
                        })
                    } else {
                        if (!this.isOpen) {
                            this.$emit('bomb-click', {
                            'x': this.x,
                            'y': this.y,
                        });
                        }
                        //this.showBomb = true;

                    }
                }
                },
                setFlag() {
                    if (!this.isOpen) {
                        this.isFlag = !this.isFlag;
                    }

                },
            },
            template: "#field-cell",
        };
        const fieldComponent = {
            components: {
                "field-cell": fieldCell,
            },
            props: {
                width: Number,
                height: Number,
                bombsCount: Number,
                gameOver:Boolean,
            },
            data() {
                return {
                    showBombs: false,
                    freeCells: null,
                    field: [],
                }
            },
            methods: {
                //Заполняем матрицу игрового поля
                createField() {
                    let id = 0;
                    for (let h = 0; h < this.height; h++) {
                        this.field[h] = [];
                        for (let w = 0; w < this.width; w++) {
                            this.field[h].push({
                                id: id,
                                isOpen: false,
                                isBomb: false,
                                bombsNear: 0,
                            });
                            id++;
                        }
                    }
                },
                //Генерирует рандомную координату
                getRandomInt(max) {
                    return Math.floor(Math.random() * max);
                },
                fillEmptyCells(x, y) {
                    console.log("fill " +y+"," + x);
                    //верхний левый угол
                    if (!this.field[x][y].isOpen && this.field[x][y].bombsNear == 0) {
                        this.field[x][y].isOpen = true;
                        this.freeCells--;
                    }

                    if (((x - 1) >= 0) && ((y - 1) >= 0)) {
                        if ((this.field[x-1][y-1].bombsNear == 0) && (!this.field[x-1][y-1].isOpen)) {
                            this.field[x-1][y-1].isOpen = true;
                            this.fillEmptyCells(x-1,y-1);
                            this.freeCells--;
                        }
                    }
                    //верхний правый угол
                    if (((x + 1) < this.height) && ((y - 1) >= 0)) {
                         if ((this.field[x+1][y-1].bombsNear == 0) && (!this.field[x+1][y-1].isOpen)) { 
                            this.field[x+1][y-1].isOpen = true;
                            this.fillEmptyCells(x+1,y-1);
                            this.freeCells--;
                        }
                    }
                    //верхний кубик
                    if (((y - 1) >= 0)) {
                        if ((this.field[x][y-1].bombsNear == 0) && (!this.field[x][y-1].isOpen)) {
                            this.field[x][y-1].isOpen = true;
                            this.fillEmptyCells(x,y-1);
                            this.freeCells--;
                        }
                    }

                    //нижний левый угол
                    if (((x - 1) >= 0) && ((y + 1) < this.width)) {
                        if ((this.field[x-1][y+1].bombsNear == 0) && (!this.field[x-1][y+1].isOpen)) {
                            this.field[x-1][y+1].isOpen = true;
                            this.fillEmptyCells(x-1,y+1);
                            this.freeCells--;
                        }
                    }
                    //нижний правый угол
                    if (((x + 1) < this.height) && ((y + 1) < this.width)) {
                        if ((this.field[x+1][y+1].bombsNear == 0) && (!this.field[x+1][y+1].isOpen)) {
                            this.field[x+1][y+1].isOpen = true;
                            this.fillEmptyCells(x+1,y+1);
                            this.freeCells--;
                        }
                    }
                    //нижний кубик
                    if (((y + 1) < this.width)) {
                        if ((this.field[x][y+1].bombsNear == 0) && (!this.field[x][y+1].isOpen)) {
                            this.field[x][y+1].isOpen = true;
                            this.fillEmptyCells(x,y+1);
                            this.freeCells--;
                        }
                    }
                    //Слева
                    if (((x - 1) >= 0)) {
                        if ((this.field[x-1][y].bombsNear == 0) && (!this.field[x-1][y].isOpen)) {
                            this.field[x-1][y].isOpen = true;
                            this.fillEmptyCells(x-1,y);
                            this.freeCells--;
                        }
                    }
                    //Справа
                    if (((x + 1) < this.height)) {
                        if ((this.field[x+1][y].bombsNear == 0) && (!this.field[x+1][y].isOpen)) {
                            this.field[x+1][y].isOpen = true;
                            this.fillEmptyCells(x+1,y);
                            this.freeCells--;
                        }
                    }
                },
                //Проставление соседним с бомбой клеткам значений
                calcBombsNear(x, y) {
                    //верхний левый угол
                    if (((x - 1) >= 0) && ((y - 1) >= 0)) {
                        this.field[x - 1][y - 1].bombsNear++;
                    }
                    //верхний правый угол
                    if (((x + 1) < this.height) && ((y - 1) >= 0)) {
                        this.field[x + 1][y - 1].bombsNear++;
                    }
                    //верхний кубик
                    if (((y - 1) >= 0)) {
                        this.field[x][y - 1].bombsNear++;
                    }

                    //нижний левый угол
                    if (((x - 1) >= 0) && ((y + 1) < this.width)) {
                        this.field[x - 1][y + 1].bombsNear++;
                    }
                    //нижний правый угол
                    if (((x + 1) < this.height) && ((y + 1) < this.width)) {
                        this.field[x + 1][y + 1].bombsNear++;
                    }
                    //нижний кубик
                    if (((y + 1) < this.width)) {
                        this.field[x][y + 1].bombsNear++;
                    }
                    //Слева
                    if (((x - 1) >= 0)) {
                        this.field[x - 1][y].bombsNear++;
                    }
                    //Справа
                    if (((x + 1) < this.height)) {
                        this.field[x + 1][y].bombsNear++;
                    }
                },
                //Расставляем бомбы в случайном порядке
                setBombs() {
                    for (let i = 0; i < this.bombsCount; i++) {
                        let randomY = this.getRandomInt(this.height);
                        let randomX = this.getRandomInt(this.width);
                        while (this.field[randomY][randomX].isBomb) {
                            randomY = this.getRandomInt(this.height);
                            randomX = this.getRandomInt(this.width);
                        }
                        this.field[randomY][randomX].isBomb = true;
                        this.calcBombsNear(randomY, randomX);
                    }
                },
                //По простой клетке кликнули
                cellClick(coords) {
                    if (this.gameOver) {
                        return;
                    }
                    if ((this.field[coords.y][coords.x].bombsNear == 0) && (!this.field[coords.y][coords.x].isOpen)) {
                        this.fillEmptyCells(coords.y, coords.x);
                    }
                    else {
                        if (!this.field[coords.y][coords.x].isOpen) {
                            this.field[coords.y][coords.x].isOpen = true;
                            this.freeCells--;
                        }
                    }

                },
                //Кликнули по бомбе
                bombClick(coords) {
                    this.showBombs = true;
                    this.$emit("game-over");
                }
            },
            watch: {
                //Когда свободные клетки кончились - игрок победил
                freeCells(newVal, oldVal) {
                    if (newVal == 0) {
                        this.$emit("player-won");
                    }
                }
            },
            created() {
                this.createField();
                this.setBombs(2);
                this.freeCells = this.width * this.height - this.bombsCount;
            },
            template: "#field"
        };

        const app = Vue.createApp({
            components: {
                'playground': fieldComponent,
            },
            data() {
                return {
                    gameStarted: false,
                    fieldWidth: 5,
                    fieldHeight: 5,
                    bombsCount: 5,
                    youWon: false,
                    actions:true,
                }
            },
            methods: {
                startGame() {
                    if (this.fieldWidth>50 || this.fieldHeight>50) {
                        alert('Размеры поля не должны превышать 50 клеток');
                        return;
                    }
                    if (this.bombsCount >= (this.fieldWidth * this.fieldHeight)) {
                        alert("Столько бомб не влезет на поле");
                        return;
                    }
                    this.gameStarted = true;
                },
                playerWon() {
                    this.youWon = true;
                    this.gameStarted = false;
                },
                gameOver() {
                    alert("War is over for u");
                    this.actions = false;
                },
            }
        });
        app.mount("#app");
    </script>
</body>

</html>